<!-- <div class="col-16 bg-info text-white example-box">
  <h1 class="text-center">{{data.texto}}</h1>
  <div cdkDropListGroup class="example-list flex flex-wrap">
    <div cdkDropList  (cdkDropListDropped)="drop($event)">
      <div class="example-box" style="float:left; padding: 50px 0px 0px 50px" *ngFor="let opcoes of data.array" cdkDrag >
          <span style="display:block;text-align:center;" [attr.class]="opcoes.icone"></span>
          <br>
          <p>
            {{opcoes.texto}}
          </p>
        <br style="clear:left;">
      </div>  
    </div>
   </div> 
</div>   -->

<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">{{item}}</div>
  </div>
</div> 
